* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* disable alternative navbar for mobile devices */
.navbar-alternate {
    display: none;
}

/* ---------------------
navbar section styles
---------------------- */
header {
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    margin: 0 auto;
    padding: 50px 12.5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
    font-size: 3.5vw;
    color: #131313;
}

.menu li,
a {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    list-style: none;
    text-decoration: none;
}

.menu>ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* banner styles */
.banner-section {
    margin: 0 auto;
    padding: 6.05vw 12.5vw 0;
}

.banner-container {
    max-width: 43vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2.2vw;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 4vw;
    text-align: center;
    color: #131313;
}

.banner-description {
    font-size: 1.05vw;
    line-height: 1.8vw;
    text-align: center;
    color: #727272;
    padding-top: 1.6vw;
}

.btn-1 {
    text-align: center;
}

.btn-pri {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 1.05vw 2vw;
    border: none;
}

.banner-img>img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    padding: 2.35vw 0;
}

/* ------------------------
    our feature section
------------------------- */
.our-feature-section {
    display: flex;
    column-gap: 3.8vw;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4.5vw 12.5vw 0;
}

.feature-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25vw;
    max-width: 708px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.feature-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.feature-article {
    max-width: 537px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.feature-title {
    font-weight: 700;
    font-size: 2.35vw;
    line-height: 2.75vw;
    padding-bottom: 1.25vw;
    padding-right: 3.5VW;
}

.span-1 {
    font-weight: 500;
    color: #727272;
}

.span-2 {
    color: #131313;
}

.span-3 {
    color: #FF900E;
}

.section-description {
    font-size: 0.8vw;
    line-height: 1.35vw;
    color: #727272;
    padding-bottom: 1.7vw;
    padding-right: 3vw;
}

/* ---------------------------
    experience section styles
---------------------------- */
.experience-section {
    display: flex;
    justify-content: center;
    column-gap: 7.6vw;
    margin: 0 auto;
    padding: 6.77vw 12.5vw 0;
}

.experience-left-container {
    max-width: 30.5vw;
    width: 100%;
    max-height: 51.7vw;
    height: 100%;
    margin: 2vw 0 0;
}

.section-title {
    font-weight: 700;
    font-size: 2.25vw;
    line-height: 2.75vw;
    padding-bottom: 1.25vw;
}

.experience-left-container>h2 {
    border-left: 5px solid #FF900E;
    padding-left: 1.25vw;
    padding-bottom: 0;
}

.experience-left-container>p {
    padding-top: 1.6vw;
    padding-bottom: 0.8vw;
    padding-right: 0;
}

.experience-card {
    max-width: 30.5vw;
    width: 100%;
    max-height: 9vw;
    height: 100%;
    margin: 1vw 0 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.experience-card>h3 {
    font-weight: 600;
    font-size: 1.25vw;
    color: #131313;
    padding: 1.35vw 1.6vw 0;
}

.experience-card>p {
    font-size: 0.8vw;
    line-height: 1.35vw;
    padding: 0.5vw 1.6vw 1.35vw;
}

.experience-right-container {
    max-width: 708px;
    width: 100%;
    max-height: 1053px;
    height: 100%;
    margin: 0;
}

.experience-img-container {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.experience-img-container>img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.experience-box {
    max-width: 342px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    margin: -6.4vw 0 0 -4.8vw;
    position: relative;
}

.experience-box>button {
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 2.4vw 2.2vw;
}

.exp-btn-text-1 {
    font-weight: 700;
    font-size: 3.385vw;
    text-align: center;
    color: #FFFFFF;
}

.exp-btn-text-2 {
    font-weight: 500;
    font-size: 1.3vw;
    text-align: center;
    color: #FFFFFF;
}

/* ------------------------
some-facts-section styles 
---------------------------*/
.some-facts-section {
    max-width: 72.4vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 6.77vw 15.1vw 0 12.5vw;
}

.some-facts-section>p {
    max-width: 28.23vw;
    width: 100%;
    height: auto;
}

.infographic {
    display: flex;
    flex-direction: row;
    max-width: 69.75vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    gap: 6.5vw;
}

.info-card {
    max-width: 12.6vw;
    width: 100%;
    height: 12.4vw;
    border: 1px solid #FF900E;
    border-radius: 8px;
}

.info-icon {
    max-width: 2.35vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2.35vw 5.125vw 0.52vw;
    ;
}

.info-count {
    font-weight: 600;
    font-size: 2.35vw;
    text-align: center;
    color: #424242;
    padding-bottom: 0.5vw;
}

.info-title,
.footer-description {
    font-weight: 600;
    font-size: 1vw;
    text-align: center;
    color: #727272;
}

/* --------------------
Sponsors section styles
--------------------- */
.sponsors,
.footer {
    max-width: 75vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 9.375vw;
}

.sponsors>h1 {
    text-align: center;
}

.sponsors>p {
    max-width: 28.23vw;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.sponsors-logo-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2.6vw;
}

.sponsors-logo {
    max-width: 100%;
    max-height: 2.6vw;
    height: 100%;
}

/* ---------------------
    footer styles
---------------------- */
.footer {
    margin-top: 6.8vw;
    margin-bottom: 11.25vw;
    padding: 0;
    background: #FFF4E7;
    border-radius: 8px;
}

.footer-description {
    text-align: center;
    padding: 1.56vw 0;
}