* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* disable alternative navbar for mobile devices */
.navbar-alternate {
    display: none;
}

/* ---------------------
navbar section styles
---------------------- */
header {
    background: rgba(255, 144, 14, 0.1);
}

.navbar {
    margin: 0 auto;
    padding: 50px 12.5vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
    font-size: 3.5vw;
    color: #131313;
}

.menu li, a {
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    list-style: none;
    text-decoration: none;
}

.menu>ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* banner styles */
.banner-section {
    margin: 0 auto;
    padding: 6.05vw 12.5vw 0;
}
.banner-container {
    max-width: 43vw;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 2.2vw;
}
.banner-title {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 4vw;
    text-align: center;
    color: #131313;
}
.banner-description {
    font-size: 1.05vw;
    line-height: 1.8vw;
    text-align: center;
    color: #727272;
    padding-top: 1.6vw;
}
.btn-1 {
    text-align: center;
}
.btn-pri {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 1.05vw 2vw;
    border: none;
}
.banner-img>img {
    max-width: 1440px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 0 auto;
    padding: 45px 0;

}